input[type="text"] {
  width: 500px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.Search {
  display: flex;
  align-items: center;

  padding: 8px 10px;
}

.Search-btn {
  background-color: #00a69c;
  color: white;
  padding: 14px 40px;
  border-radius: 5px;
}
